<div id="menusek01">
    <div id="menu02">
        <h3 style="text-align:center; color:lightgray">Informacja Detaliczna</h3>
    </div>
    <div id="menu03" style="color: whitesmoke;">
        <b>ID:</b>{{id}} <br>
        <b>Nazwa:</b>{{name}} <br>
        <b>Rozmiar:</b>{{size}} <br>
        <b>Typ:</b>{{type}} <br>
        <b>Lokacja:</b>{{path}} <br>
        <b>Data Zapisu:</b>{{date}} <br>

    </div>
</div>